<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyCAJ1k2w4SxpDUSST0UkHRFz5RBkVkwlkA"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            mapTypeId: "satellite",
            zoom: 16,
            center: new google.maps.LatLng(53.491607, -113.550632)
        });

        new google.maps.visualization.HeatmapLayer({
            threshold: 10,
            radius: 25,
            maxIntensity: 1,
            opacity: 0.600000,
            dissipating: true,
            map: map,
            data: [
                {location: new google.maps.LatLng(53.490528, -113.552417), weight: 0.000000},
                {location: new google.maps.LatLng(53.490529, -113.552400), weight: 0.000000},
                {location: new google.maps.LatLng(53.490530, -113.552393), weight: 0.000000},
                new google.maps.LatLng(53.490530, -113.552392),
                {location: new google.maps.LatLng(53.490531, -113.552407), weight: 0.000000},
                {location: new google.maps.LatLng(53.490531, -113.552394), weight: 0.000000},
                {location: new google.maps.LatLng(53.490532, -113.552524), weight: 0.000000},
                {location: new google.maps.LatLng(53.490532, -113.552396), weight: 0.000000},
                {location: new google.maps.LatLng(53.490535, -113.552435), weight: 0.000000},
                {location: new google.maps.LatLng(53.490536, -113.552640), weight: 0.000000},
                {location: new google.maps.LatLng(53.490553, -113.553650), weight: 0.000000},
                {location: new google.maps.LatLng(53.490646, -113.552126), weight: 0.000000},
                {location: new google.maps.LatLng(53.490697, -113.543609), weight: 0.000000},
                {location: new google.maps.LatLng(53.490699, -113.544003), weight: 0.000000},
                {location: new google.maps.LatLng(53.490737, -113.544201), weight: 0.000000},
                {location: new google.maps.LatLng(53.490862, -113.552860), weight: 0.000000},
                {location: new google.maps.LatLng(53.490912, -113.546651), weight: 0.000000},
                {location: new google.maps.LatLng(53.491027, -113.543005), weight: 0.000000},
                {location: new google.maps.LatLng(53.491064, -113.547288), weight: 0.000000},
                {location: new google.maps.LatLng(53.491143, -113.555434), weight: 0.000000},
                {location: new google.maps.LatLng(53.491317, -113.553728), weight: 0.000000},
                {location: new google.maps.LatLng(53.491557, -113.548554), weight: 0.000000},
                {location: new google.maps.LatLng(53.491622, -113.554932), weight: 0.000000},
                {location: new google.maps.LatLng(53.491759, -113.542548), weight: 0.000000},
                {location: new google.maps.LatLng(53.492329, -113.554079), weight: 0.000000},
                {location: new google.maps.LatLng(53.492530, -113.552293), weight: 0.000000},
                {location: new google.maps.LatLng(53.492830, -113.551207), weight: 0.000000},
                {location: new google.maps.LatLng(53.493632, -113.550537), weight: 0.000000},
                {location: new google.maps.LatLng(53.494457, -113.552247), weight: 0.000000},
                {location: new google.maps.LatLng(53.494812, -113.553073), weight: 0.000000},
                {location: new google.maps.LatLng(53.495788, -113.542919), weight: 0.000000},
                {location: new google.maps.LatLng(53.496207, -113.555131), weight: 0.000000},
            ]
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
